@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');
:root{
   --primary:#3d5af1;
   --secondary: #22d1ee;
   --thirdcolor:#e2f3f5;
   --main-font:'Kanit', sans-serif;
   --fs-base : 15px;
}
*{
 font-family: var(--main-font);
 font-size: var(--fs-base);
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: var(--primary);

}
thead th{
    font-size: 20px;
}
tbody{
    background-color: var(--secondary);
}
tr{
    border-bottom: 2px solid var(--thirdcolor);
}
th{
    border: 1px solid var(--primary);
    padding: 10px 15px;
    text-align: left;
    color: var(--thirdcolor);
}
td{
    border: 1px solid var(--secondary);
    padding: 10px 15px;
    color: var(--thirdcolor);
}