@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
.btn{
    height: 50px;
    background-color: #000;
    color: #fff;
    border: 2px solid black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 0 20px;

}